.dropdown-item .img-fluid {
    max-width: 100%;
    height: auto;
    max-width: 44px;
    object-fit: cover;
}
img.card-img-top {
    max-height: 200px;
    min-height: 200px;
    width: 100%;
    object-fit: contain;
}